# Prepare the Enviornment

Foremost run the following in the Faculty terminal

#pip install pyspark
<br>
#sudo su
<br>
#apt-get update
<br>
#apt-get install openjdk-8-jdk-headless -qq > /dev/null <br>
#wget -q https://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz<br>
#tar xf spark-3.2.1-bin-hadoop3.2.tgz

Then, download the PostgreSQL JDBC 4.2 and upload it on the faculty serves.

In [298]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/project/spark-3.2.1-bin-hadoop3.2"

In [299]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("PySpark App") \
    .config("spark.jars", "/project/postgresql-42.3.2.jar") \
    .getOrCreate()

In [300]:
postgres_uri = "jdbc:postgresql://dbwatches.cvzsgnwko6ng.eu-west-2.rds.amazonaws.com:5432/dbwatches"
user = "postgres"
password = "qwerty123"
dbtableWatch = "watches_schema.watch"
dbtableBrand_Info = "watches_schema.brand_information"
dbtableSocial_Info = "watches_schema.social_information"
dbtableCompany_Desc = "watches_schema.description"
dbtableFinancial_Info = "watches_schema.financial_information"
dbtableBoard = "watches_schema.board"
dbtableCharacteristics = "watches_schema.characteristics"
dbtablePrices = "watches_schema.prices"
dbtableSeller = "watches_schema.seller"

In [301]:
db_watch = spark.read \
    .format("jdbc") \
    .option("url", postgres_uri) \
    .option("dbtable", dbtableWatch) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

db_watch.printSchema()
db_watch.show()

root
 |-- watch_code: string (nullable = true)
 |-- watch_reference: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- watch_collection: string (nullable = true)

+----------+---------------+-----+----------------+
|watch_code|watch_reference|brand|watch_collection|
+----------+---------------+-----+----------------+
+----------+---------------+-----+----------------+

In [302]:
db_brand = spark.read \
    .format("jdbc") \
    .option("url", postgres_uri) \
    .option("dbtable", dbtableBrand_Info) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

db_brand.printSchema()
db_brand.show()

root
 |-- brand: string (nullable = true)
 |-- holding_company: string (nullable = true)
 |-- headquarters: string (nullable = true)
 |-- company_type: string (nullable = true)
 |-- industry: string (nullable = true)

+-----+---------------+------------+------------+--------+
|brand|holding_company|headquarters|company_type|industry|
+-----+---------------+------------+------------+--------+
+-----+---------------+------------+------------+--------+

In [303]:
db_social = spark.read \
    .format("jdbc") \
    .option("url", postgres_uri) \
    .option("dbtable", dbtableSocial_Info) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

db_social.printSchema()
db_social.show()

root
 |-- brand: string (nullable = true)
 |-- telephone_number: string (nullable = true)
 |-- company_website: string (nullable = true)
 |-- facebook: string (nullable = true)
 |-- twitter: string (nullable = true)
 |-- instagram: string (nullable = true)
 |-- weibo: string (nullable = true)
 |-- google: string (nullable = true)
 |-- line: string (nullable = true)
 |-- wechat: string (nullable = true)
 |-- youtube: string (nullable = true)

+-----+----------------+---------------+--------+-------+---------+-----+------+----+------+-------+
|brand|telephone_number|company_website|facebook|twitter|instagram|weibo|google|line|wechat|youtube|
+-----+----------------+---------------+--------+-------+---------+-----+------+----+------+-------+
+-----+----------------+---------------+--------+-------+---------+-----+------+----+------+-------+

In [304]:
db_description = spark.read \
    .format("jdbc") \
    .option("url", postgres_uri) \
    .option("dbtable", dbtableCompany_Desc) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

db_description.printSchema()
db_description.show()

root
 |-- brand: string (nullable = true)
 |-- company_description: string (nullable = true)
 |-- founded: string (nullable = true)
 |-- founder: string (nullable = true)

+-----+-------------------+-------+-------+
|brand|company_description|founded|founder|
+-----+-------------------+-------+-------+
+-----+-------------------+-------+-------+

In [305]:
db_financial = spark.read \
    .format("jdbc") \
    .option("url", postgres_uri) \
    .option("dbtable", dbtableFinancial_Info) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

db_financial.printSchema()
db_financial.show()

root
 |-- holding_company: string (nullable = true)
 |-- employees: string (nullable = true)
 |-- revenue: string (nullable = true)
 |-- net_income_growth: string (nullable = true)
 |-- enviornmental_social_governance_ranking: string (nullable = true)
 |-- subsidiaries: string (nullable = true)

+---------------+---------+-------+-----------------+---------------------------------------+------------+
|holding_company|employees|revenue|net_income_growth|enviornmental_social_governance_ranking|subsidiaries|
+---------------+---------+-------+-----------------+---------------------------------------+------------+
+---------------+---------+-------+-----------------+---------------------------------------+------------+

In [306]:
db_board = spark.read \
    .format("jdbc") \
    .option("url", postgres_uri) \
    .option("dbtable", dbtableBoard) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

db_board.printSchema()
db_board.show()

root
 |-- holding_company: string (nullable = true)
 |-- managing_director: string (nullable = true)
 |-- board_chairman: string (nullable = true)
 |-- director: string (nullable = true)

+---------------+-----------------+--------------+--------+
|holding_company|managing_director|board_chairman|director|
+---------------+-----------------+--------------+--------+
+---------------+-----------------+--------------+--------+

In [307]:
db_characteristics = spark.read \
    .format("jdbc") \
    .option("url", postgres_uri) \
    .option("dbtable", dbtableCharacteristics) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

db_characteristics.printSchema()
db_characteristics.show()

root
 |-- watch_id: string (nullable = true)
 |-- watch_reference: string (nullable = true)
 |-- case_diameter: string (nullable = true)
 |-- watch_movement: string (nullable = true)
 |-- watch_case: string (nullable = true)
 |-- watch_dial: string (nullable = true)
 |-- watch_strap: string (nullable = true)
 |-- watch_markers: string (nullable = true)
 |-- watch_recipient: string (nullable = true)
 |-- watch_guarantee: string (nullable = true)

+--------+---------------+-------------+--------------+----------+----------+-----------+-------------+---------------+---------------+
|watch_id|watch_reference|case_diameter|watch_movement|watch_case|watch_dial|watch_strap|watch_markers|watch_recipient|watch_guarantee|
+--------+---------------+-------------+--------------+----------+----------+-----------+-------------+---------------+---------------+
+--------+---------------+-------------+--------------+----------+----------+-----------+-------------+---------------+---------------+

In [308]:
db_prices = spark.read \
    .format("jdbc") \
    .option("url", postgres_uri) \
    .option("dbtable", dbtablePrices) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

db_prices.printSchema()
db_prices.show()

root
 |-- watch_id: string (nullable = true)
 |-- watch_reference: string (nullable = true)
 |-- production_year: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- price: string (nullable = true)
 |-- aftermarket_price: string (nullable = true)
 |-- box_and_papers: string (nullable = true)
 |-- seller_id: string (nullable = true)

+--------+---------------+---------------+---------+-----+-----------------+--------------+---------+
|watch_id|watch_reference|production_year|condition|price|aftermarket_price|box_and_papers|seller_id|
+--------+---------------+---------------+---------+-----+-----------------+--------------+---------+
+--------+---------------+---------------+---------+-----+-----------------+--------------+---------+

In [309]:
db_seller = spark.read \
    .format("jdbc") \
    .option("url", postgres_uri) \
    .option("dbtable", dbtableSeller) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

db_seller.printSchema()
db_seller.show()

root
 |-- seller_id: string (nullable = true)
 |-- seller_location: string (nullable = true)
 |-- seller_rating: string (nullable = true)

+---------+---------------+-------------+
|seller_id|seller_location|seller_rating|
+---------+---------------+-------------+
+---------+---------------+-------------+

# Financial Table

In [310]:
financial = spark.read.parquet("/project/financial_information.parquet")
financial.show()

+--------------------+---------+---------------+-----------------+---------------------------------------+--------------------+----------------+----------------+----------------+
|     holding_company|employees|        revenue|net_income_growth|enviornmental_social_governance_ranking|   managing_director|  board_chairman|        director|    subsidiaries|
+--------------------+---------+---------------+-----------------+---------------------------------------+--------------------+----------------+----------------+----------------+
|Compagnie Financi...|   34,760| $15.96 billion|           39.44%|                                    3.0|      Jérôme Lambert|   Johann Rupert|  Cédric Bossert|145 Subsidiaries|
|Audemars Piguet H...|      900|$160.12 million|             null|                                    1.0|François-Henri Be...|Jasmine Audemars|Nicolas Burgener| 19 Subsidiaries|
+--------------------+---------+---------------+-----------------+---------------------------------------+--------------------+----------------+----------------+----------------+

In [311]:
financial.select("holding_company","managing_director","board_chairman","director").write.format("jdbc") \
    .option("url", postgres_uri) \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", dbtableBoard) \
    .option("user", user) \
    .mode("append") \
    .option("password", password).save()

In [312]:
db_board.show()

+--------------------+--------------------+----------------+----------------+
|     holding_company|   managing_director|  board_chairman|        director|
+--------------------+--------------------+----------------+----------------+
|Compagnie Financi...|      Jérôme Lambert|   Johann Rupert|  Cédric Bossert|
|Audemars Piguet H...|François-Henri Be...|Jasmine Audemars|Nicolas Burgener|
+--------------------+--------------------+----------------+----------------+

# Financial Table

In [313]:
financial.select("holding_company","employees","revenue","net_income_growth","enviornmental_social_governance_ranking","subsidiaries").write.format("jdbc") \
    .option("url", postgres_uri) \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", dbtableFinancial_Info) \
    .option("user", user) \
    .mode("append") \
    .option("password", password).save()

In [314]:
db_financial.show()

+--------------------+---------+---------------+-----------------+---------------------------------------+----------------+
|     holding_company|employees|        revenue|net_income_growth|enviornmental_social_governance_ranking|    subsidiaries|
+--------------------+---------+---------------+-----------------+---------------------------------------+----------------+
|Compagnie Financi...|   34,760| $15.96 billion|           39.44%|                                    3.0|145 Subsidiaries|
|Audemars Piguet H...|      900|$160.12 million|             null|                                    1.0| 19 Subsidiaries|
+--------------------+---------+---------------+-----------------+---------------------------------------+----------------+

# Social Table

In [315]:
social = spark.read.parquet("/project/social_information.parquet")
social.show()

+---------------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|   company_name|     holding_company| company_description|telephone_number|     company_website|            facebook|             twitter|           instagram|               weibo|              google|                line|              wechat|             youtube|
+---------------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|Audemars Piguet|Audemars Piguet H...|In 1875 Jules Lou...|+41 21 845 14 00|http://www.audema...|https://www.faceb...|https://twitter.c...|http://instagram....|http://weibo.com/...|https://plus.goog...|http://nav.cx/dQE...|https://www.audem...|http://www.youtub...|
|        Cartier|Compagnie Financi...|Founded in 1847 i...|+41 22 715 35 00|http://www.cartie...|http://www.facebo...|http://twitter.co...|http://instagram....|http://e.weibo.co...|                null|http://www.cartie...|                null|http://www.youtub...|
+---------------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

In [316]:
d_social = social.selectExpr("company_name as brand",
                             "holding_company as holding_company",
                             "company_description as company_description",
                             "telephone_number as telephone_number",
                             "company_website as company_website",
                             "facebook as facebook",
                             "twitter as twitter",
                             "instagram as instagram",
                             "weibo as weibo",
                             "google as google",
                             "line as line",
                             "wechat as wechat",
                             "youtube as youtube")

In [317]:
d_social.select("brand", 
                "telephone_number",
                "company_website",
                "facebook",
                "twitter",
                "instagram",
                "weibo",
                "google",
                "line",
                "wechat",
                "youtube").write.format("jdbc") \
    .option("url", postgres_uri) \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", dbtableSocial_Info) \
    .option("user", user) \
    .mode("append") \
    .option("password", password).save()

In [318]:
db_social.show()

+---------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|          brand|telephone_number|     company_website|            facebook|             twitter|           instagram|               weibo|              google|                line|              wechat|             youtube|
+---------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|Audemars Piguet|+41 21 845 14 00|http://www.audema...|https://www.faceb...|https://twitter.c...|http://instagram....|http://weibo.com/...|https://plus.goog...|http://nav.cx/dQE...|https://www.audem...|http://www.youtub...|
|        Cartier|+41 22 715 35 00|http://www.cartie...|http://www.facebo...|http://twitter.co...|http://instagram....|http://e.weibo.co...|                null|http://www.cartie...|                null|http://www.youtub...|
+---------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

# Description Table

In [319]:
more_info = spark.read.parquet("/project/more_information.parquet")
more_info.show()

+---------------+------------+--------------------+-------------------+--------------------+--------------------+-----------+--------------------+--------------------+--------------------+
|          brand|company_type|            industry|            founded|             founder|        headquarters|area_served|            products| company_description|     holding_company|
+---------------+------------+--------------------+-------------------+--------------------+--------------------+-----------+--------------------+--------------------+--------------------+
|Audemars Piguet|     Private|  Luxury watchmaking|1875; 147 years ago|Jules Louis Audem...|Le Brassus, Switz...|  Worldwide|Mechanical watche...|In 1875 Jules Lou...|Audemars Piguet H...|
|        Cartier|  Subsidiary|Jewellery manufac...|1847; 175 years ago|Louis-François Ca...|       Paris, France|  Worldwide|  Jewellery, watches|Founded in 1847 i...|Compagnie Financi...|
+---------------+------------+--------------------+-------------------+--------------------+--------------------+-----------+--------------------+--------------------+--------------------+

In [320]:
more_info.select("brand", "company_description", "founded", "founder").write.format("jdbc") \
    .option("url", postgres_uri) \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", dbtableCompany_Desc) \
    .option("user", user) \
    .mode("append") \
    .option("password", password).save()

In [321]:
db_description.show()

+---------------+--------------------+-------------------+--------------------+
|          brand| company_description|            founded|             founder|
+---------------+--------------------+-------------------+--------------------+
|Audemars Piguet|In 1875 Jules Lou...|1875; 147 years ago|Jules Louis Audem...|
|        Cartier|Founded in 1847 i...|1847; 175 years ago|Louis-François Ca...|
+---------------+--------------------+-------------------+--------------------+

# Brand Table

In [322]:
more_info.select("brand", "holding_company", "headquarters", "company_type", "industry").write.format("jdbc") \
    .option("url", postgres_uri) \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", dbtableBrand_Info) \
    .option("user", user) \
    .mode("append") \
    .option("password", password).save()

In [323]:
db_brand.show()

+---------------+--------------------+--------------------+------------+--------------------+
|          brand|     holding_company|        headquarters|company_type|            industry|
+---------------+--------------------+--------------------+------------+--------------------+
|Audemars Piguet|Audemars Piguet H...|Le Brassus, Switz...|     Private|  Luxury watchmaking|
|        Cartier|Compagnie Financi...|       Paris, France|  Subsidiary|Jewellery manufac...|
+---------------+--------------------+--------------------+------------+--------------------+

# Watch Table

In [324]:
watches = spark.read.parquet("/project/watches.parquet")
watches.show()

+----------+---------------+--------------------+--------------------+-----------+--------------+--------------------+----------+---------------+---------------+--------------------+--------------+---------------+
|watch_code|    watch_brand|    watch_collection|     watch_reference|watch_price|watch_movement|          watch_case|watch_dial|    watch_strap|  watch_markers|     watch_guarantee|watch_category|watch_recipient|
+----------+---------------+--------------------+--------------------+-----------+--------------+--------------------+----------+---------------+---------------+--------------------+--------------+---------------+
|  17580962|Audemars Piguet|  Royal Oak Offshore|26420TI.OO.A027CA.01| £33,000.00|     Automatic|            Titanium|      Blue|         Rubber|         Batons|Audemars Piguet 2...|       Watches|        For Him|
|  17580961|Audemars Piguet|  Royal Oak Offshore|26420SO.OO.A600CA.01| £34,100.00|     Automatic|Ceramic & Stainle...|     Brown|         Rubber|         Batons|Audemars Piguet 2...|       Watches|        For Him|
|  17580960|Audemars Piguet|  Royal Oak Offshore|26420SO.OO.A002CA.01| £34,100.00|     Automatic|Ceramic & Stainle...|     Black|         Rubber|         Batons|Audemars Piguet 2...|       Watches|        For Him|
|  17580959|Audemars Piguet|  Royal Oak Offshore|26420RO.OO.A002CA.01| £51,100.00|     Automatic|Ceramic & 18ct Ro...|     Black|         Rubber|         Batons|Audemars Piguet 2...|       Watches|        For Him|
|  17580958|Audemars Piguet|  Royal Oak Offshore|26420IO.OO.A009CA.01| £34,100.00|     Automatic|                null|      Grey|         Rubber|         Batons|Audemars Piguet 2...|       Watches|        For Him|
|  17580945|Audemars Piguet|Royal Oak Diver O...|15720ST.OO.A052CA.01| £23,100.00|     Automatic|     Stainless Steel|     Green|         Rubber|         Batons|Audemars Piguet 2...|       Watches|        For Him|
|  17580910|Audemars Piguet|Royal Oak Diver O...|15720ST.OO.A027CA.01| £23,100.00|     Automatic|     Stainless Steel|      Navy|         Rubber|         Batons|Audemars Piguet 2...|       Watches|        For Him|
|  17580909|Audemars Piguet|Royal Oak Diver O...|15720ST.OO.A009CA.01| £23,100.00|     Automatic|     Stainless Steel|      Grey|         Rubber|         Batons|Audemars Piguet 2...|       Watches|        For Him|
|  17580888|Audemars Piguet|  Royal Oak Offshore|26231OR.ZZ.D003CA.01| £44,700.00|     Automatic|      18ct Rose Gold|    Silver|         Rubber|         Batons|Audemars Piguet 2...|       Watches|        For Her|
|  17580887|Audemars Piguet|  Royal Oak Offshore|26231ST.ZZ.D027CA.01| £30,300.00|     Automatic|     Stainless Steel|      Blue|         Rubber|         Batons|Audemars Piguet 2...|       Watches|        For Her|
|  17580873|Audemars Piguet|           Royal Oak|77351ST.ZZ.1261ST.01| £24,600.00|     Automatic|      18ct Rose Gold|    Silver| 18ct Rose Gold|           null|Audemars Piguet 2...|       Watches|        For Her|
|  17580872|Audemars Piguet|           Royal Oak|77351OR.ZZ.1261OR.01| £46,400.00|     Automatic|      18ct Rose Gold|    Silver| 18ct Rose Gold|           null|Audemars Piguet 2...|       Watches|        For Her|
|  17580869|Audemars Piguet|           Royal Oak|15500OR.OO.D002CR.01| £33,800.00|     Automatic|      18ct Rose Gold|     Black|      Alligator|         Batons|Audemars Piguet 2...|       Watches|        For Him|
|  17580868|Audemars Piguet|           Royal Oak|15500OR.OO.1220OR.01| £52,800.00|     Automatic|      18ct Rose Gold|     Black| 18ct Rose Gold|         Batons|Audemars Piguet 2...|       Watches|        For Him|
|  17580867|Audemars Piguet|           Royal Oak|77350ST.OO.1261ST.01| £19,200.00|     Automatic|     Stainless Steel|    Silver|Stainless Steel|           null|Audemars Piguet 2...|       Watches|        For Her|
|  17580866|Audemars Piguet|           Royal Oak|77350SR.OO.1261SR.01| £22,600.00|     Automatic|     Stainless Steel|    Silver|Stainless Steel|           null|Audemars Piguet 2...|       Watches|        For Her|
|  17580806|Audemars Piguet|  Royal Oak Offshore|26231ST.ZZ.D002CA.01| £30,300.00|     Automatic|     Stainless Steel|     Black|         Rubber|         Batons|Audemars Piguet 2...|       Watches|        For Her|
|  17580804|Audemars Piguet|           Royal Oak|67650ST.OO.1261ST.01| £13,800.00|        Quartz|     Stainless Steel|     Black|Stainless Steel|         Batons|Audemars Piguet 2...|       Watches|        For Her|
|  17580803|Audemars Piguet|           Royal Oak|67651SR.ZZ.1261SR.01| £21,000.00|        Quartz|     Stainless Steel|    Silver|Stainless Steel|Arabic Numerals|Audemars Piguet 2...|       Watches|        For Her|
|  17311178|        Cartier|           Tank Must|            WSTA0041|  £2,310.00|        Quartz|     Stainless Steel|    Silver|           Calf| Roman Numerals|2 years + 6 years...|       Watches|        For Her|
+----------+---------------+--------------------+--------------------+-----------+--------------+--------------------+----------+---------------+---------------+--------------------+--------------+---------------+
only showing top 20 rows

In [325]:
d_watches = watches.selectExpr("watch_code as watch_code", 
                               "watch_brand as brand", 
                               "watch_collection as watch_collection", 
                               "watch_reference as watch_reference", 
                               "watch_price as watch_price", 
                               "watch_movement as watch_movement", 
                               "watch_case as watch_case", 
                               "watch_dial as watch_dial", 
                               "watch_strap as watch_strap", 
                               "watch_markers as watch_markers", 
                               "watch_guarantee as watch_guarantee", 
                               "watch_category as watch_category", 
                               "watch_recipient as watch_recipient")

In [326]:
d_watches.select("watch_reference", "watch_code", "brand", "watch_collection").write.format("jdbc") \
    .option("url", postgres_uri) \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", dbtableWatch) \
    .option("user", user) \
    .mode("append") \
    .option("password", password).save()

In [327]:
db_watch.show()

+----------+--------------------+---------------+--------------------+
|watch_code|     watch_reference|          brand|    watch_collection|
+----------+--------------------+---------------+--------------------+
|  17580962|26420TI.OO.A027CA.01|Audemars Piguet|  Royal Oak Offshore|
|  17580961|26420SO.OO.A600CA.01|Audemars Piguet|  Royal Oak Offshore|
|  17580960|26420SO.OO.A002CA.01|Audemars Piguet|  Royal Oak Offshore|
|  17580959|26420RO.OO.A002CA.01|Audemars Piguet|  Royal Oak Offshore|
|  17580958|26420IO.OO.A009CA.01|Audemars Piguet|  Royal Oak Offshore|
|  17580945|15720ST.OO.A052CA.01|Audemars Piguet|Royal Oak Diver O...|
|  17580910|15720ST.OO.A027CA.01|Audemars Piguet|Royal Oak Diver O...|
|  17580909|15720ST.OO.A009CA.01|Audemars Piguet|Royal Oak Diver O...|
|  17580888|26231OR.ZZ.D003CA.01|Audemars Piguet|  Royal Oak Offshore|
|  17580887|26231ST.ZZ.D027CA.01|Audemars Piguet|  Royal Oak Offshore|
|  17580873|77351ST.ZZ.1261ST.01|Audemars Piguet|           Royal Oak|
|  17580872|77351OR.ZZ.1261OR.01|Audemars Piguet|           Royal Oak|
|  17580869|15500OR.OO.D002CR.01|Audemars Piguet|           Royal Oak|
|  17580868|15500OR.OO.1220OR.01|Audemars Piguet|           Royal Oak|
|  17580867|77350ST.OO.1261ST.01|Audemars Piguet|           Royal Oak|
|  17580866|77350SR.OO.1261SR.01|Audemars Piguet|           Royal Oak|
|  17580806|26231ST.ZZ.D002CA.01|Audemars Piguet|  Royal Oak Offshore|
|  17580804|67650ST.OO.1261ST.01|Audemars Piguet|           Royal Oak|
|  17580803|67651SR.ZZ.1261SR.01|Audemars Piguet|           Royal Oak|
|  17311178|            WSTA0041|        Cartier|           Tank Must|
+----------+--------------------+---------------+--------------------+
only showing top 20 rows

# Prices Table

In [328]:
last = spark.read.parquet("/project/last.parquet")
last.show()

+--------+---------------+--------------------+--------------------+-------------------+--------------------+--------------------+---------+--------------------+-------------+---------+--------------+---------------+----------+-----------+--------------+--------------------+---------------+
|watch_id|watch_reference|   aftermarket_price|           condition|    production_year|       case_diameter|      box_and_papers|seller_id|     seller_location|seller_rating|    price|watch_movement|     watch_case|watch_dial|watch_strap| watch_markers|     watch_guarantee|watch_recipient|
+--------+---------------+--------------------+--------------------+-------------------+--------------------+--------------------+---------+--------------------+-------------+---------+--------------+---------------+----------+-----------+--------------+--------------------+---------------+
|      W0|       WSSA0039|              $7,900|                 New|               2021|                   -|               Or...|       S0|               Un...|         4.94|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|      W1|       WSSA0039|              $8,000|               Un...|                  -|               40 mm|               Or...|       S1|               Un...|         4.86|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|      W2|       WSSA0039|              $7,850|               Un...|               2022|               39...|               Or...|       S2|               Un...|         4.96|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|      W3|       WSSA0039|              $7,675|                 New|               2022|               39...|               Or...|       S3|               Un...|         4.89|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|      W4|       WSSA0039|              $7,300|                Good|               2021|               39...|               Or...|       S4|               Un...|         4.97|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|      W5|       WSSA0039|              $8,377|                 New|               2021|               39...|               Or...|       S5|               Un...|          4.9|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|      W6|       WSSA0039|              $7,995|                 New|               2021|               39...|               Or...|       S6|               Un...|         4.91|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|      W7|       WSSA0039|              $7,950|               Ve...|               2021|               40 mm|               Or...|       S7|               Un...|          4.9|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|      W8|       WSSA0039|              $7,700|               Un...|               2022|               39...|               Or...|       S8|               Un...|         4.97|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|      W9|       WSSA0039|              $7,875|               Ve...|               2021|               39...|               Or...|       S9|               Un...|         4.85|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|     W10|       WSSA0039|              $7,499|               Un...|               2021|               39...|               Or...|      S10|               Un...|         null|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|     W11|       WSSA0039|         Price on...|               Ve...|               2021|               39...|               Or...|      S11|               Un...|         4.92|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|     W12|       WSSA0039|              $8,000|                Good|                  -|               39...|               Or...|      S12|               Un...|         4.83|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|     W13|       WSSA0039|              $8,054|                 New|               2022|               39...|               Or...|      S13|               Un...|         4.91|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|     W14|       WSSA0039|              $7,900|                 New|               2022|               39...|               Or...|      S14|               Un...|         4.86|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|     W15|       WSSA0039|              $8,883|                 New|                  -|                   -|               Or...|      S15|               Un...|         4.81|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|     W16|       WSSA0039|         Price on...|               Un...|                  -|               39...|               Or...|      S16|               Un...|         4.86|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|     W17|       WSSA0039|              $8,473|               Ve...|               2021|               39...|               Or...|      S17|               Ge...|         4.81|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|     W18|       WSSA0039|              $8,641|                 New|               2022|               39...|               Or...|      S18|               Ge...|         4.84|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
|     W19|       WSSA0039|              $8,675|               Un...|               2021|               39...|               Or...|      S19|               Ge...|         4.74|£6,800.00|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|2 years + 6 years...|        For Him|
+--------+---------------+--------------------+--------------------+-------------------+--------------------+--------------------+---------+--------------------+-------------+---------+--------------+---------------+----------+-----------+--------------+--------------------+---------------+
only showing top 20 rows

In [329]:
last.select("watch_id", "watch_reference", "production_year", "condition", "price",
           "aftermarket_price", "box_and_papers", "seller_id").write.format("jdbc") \
    .option("url", postgres_uri) \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", dbtablePrices) \
    .option("user", user) \
    .mode("append") \
    .option("password", password).save()

In [330]:
db_prices.show()

+--------+---------------+-------------------+--------------------+---------+--------------------+--------------------+---------+
|watch_id|watch_reference|    production_year|           condition|    price|   aftermarket_price|      box_and_papers|seller_id|
+--------+---------------+-------------------+--------------------+---------+--------------------+--------------------+---------+
|      W0|       WSSA0039|               2021|                 New|£6,800.00|              $7,900|               Or...|       S0|
|      W1|       WSSA0039|                  -|               Un...|£6,800.00|              $8,000|               Or...|       S1|
|      W2|       WSSA0039|               2022|               Un...|£6,800.00|              $7,850|               Or...|       S2|
|      W3|       WSSA0039|               2022|                 New|£6,800.00|              $7,675|               Or...|       S3|
|      W4|       WSSA0039|               2021|                Good|£6,800.00|              $7,300|               Or...|       S4|
|      W5|       WSSA0039|               2021|                 New|£6,800.00|              $8,377|               Or...|       S5|
|      W6|       WSSA0039|               2021|                 New|£6,800.00|              $7,995|               Or...|       S6|
|      W7|       WSSA0039|               2021|               Ve...|£6,800.00|              $7,950|               Or...|       S7|
|      W8|       WSSA0039|               2022|               Un...|£6,800.00|              $7,700|               Or...|       S8|
|      W9|       WSSA0039|               2021|               Ve...|£6,800.00|              $7,875|               Or...|       S9|
|     W10|       WSSA0039|               2021|               Un...|£6,800.00|              $7,499|               Or...|      S10|
|     W11|       WSSA0039|               2021|               Ve...|£6,800.00|         Price on...|               Or...|      S11|
|     W12|       WSSA0039|                  -|                Good|£6,800.00|              $8,000|               Or...|      S12|
|     W13|       WSSA0039|               2022|                 New|£6,800.00|              $8,054|               Or...|      S13|
|     W14|       WSSA0039|               2022|                 New|£6,800.00|              $7,900|               Or...|      S14|
|     W15|       WSSA0039|                  -|                 New|£6,800.00|              $8,883|               Or...|      S15|
|     W16|       WSSA0039|                  -|               Un...|£6,800.00|         Price on...|               Or...|      S16|
|     W17|       WSSA0039|               2021|               Ve...|£6,800.00|              $8,473|               Or...|      S17|
|     W18|       WSSA0039|               2022|                 New|£6,800.00|              $8,641|               Or...|      S18|
|     W19|       WSSA0039|               2021|               Un...|£6,800.00|              $8,675|               Or...|      S19|
+--------+---------------+-------------------+--------------------+---------+--------------------+--------------------+---------+
only showing top 20 rows

# Seller Table

In [331]:
last.select("seller_id", "seller_location", "seller_rating").write.format("jdbc") \
    .option("url", postgres_uri) \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", dbtableSeller) \
    .option("user", user) \
    .mode("append") \
    .option("password", password).save()

In [332]:
db_seller.show()

+---------+--------------------+-------------+
|seller_id|     seller_location|seller_rating|
+---------+--------------------+-------------+
|       S0|               Un...|         4.94|
|       S1|               Un...|         4.86|
|       S2|               Un...|         4.96|
|       S3|               Un...|         4.89|
|       S4|               Un...|         4.97|
|       S5|               Un...|          4.9|
|       S6|               Un...|         4.91|
|       S7|               Un...|          4.9|
|       S8|               Un...|         4.97|
|       S9|               Un...|         4.85|
|      S10|               Un...|         null|
|      S11|               Un...|         4.92|
|      S12|               Un...|         4.83|
|      S13|               Un...|         4.91|
|      S14|               Un...|         4.86|
|      S15|               Un...|         4.81|
|      S16|               Un...|         4.86|
|      S17|               Ge...|         4.81|
|      S18|               Ge...|         4.84|
|      S19|               Ge...|         4.74|
+---------+--------------------+-------------+
only showing top 20 rows

# Characteristics Table

In [333]:
last.select("watch_id", "watch_reference", "case_diameter", "watch_movement", "watch_case", "watch_dial",
           "watch_strap", "watch_markers","watch_recipient", "watch_guarantee").write.format("jdbc") \
    .option("url", postgres_uri) \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", dbtableCharacteristics) \
    .option("user", user) \
    .mode("append") \
    .option("password", password).save()

In [334]:
db_characteristics.show()

+--------+---------------+--------------------+--------------+---------------+----------+-----------+--------------+---------------+--------------------+
|watch_id|watch_reference|       case_diameter|watch_movement|     watch_case|watch_dial|watch_strap| watch_markers|watch_recipient|     watch_guarantee|
+--------+---------------+--------------------+--------------+---------------+----------+-----------+--------------+---------------+--------------------+
|      W0|       WSSA0039|                   -|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|      W1|       WSSA0039|               40 mm|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|      W2|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|      W3|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|      W4|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|      W5|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|      W6|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|      W7|       WSSA0039|               40 mm|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|      W8|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|      W9|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|     W10|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|     W11|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|     W12|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|     W13|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|     W14|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|     W15|       WSSA0039|                   -|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|     W16|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|     W17|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|     W18|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
|     W19|       WSSA0039|               39...|     Automatic|Stainless Steel|     Black|     Rubber|Roman Numerals|        For Him|2 years + 6 years...|
+--------+---------------+--------------------+--------------+---------------+----------+-----------+--------------+---------------+--------------------+
only showing top 20 rows