In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv("/project/information.csv")

In [36]:
df

,Unnamed: 0,Brand,Type,Industry,Founded,Founder,Headquarters,Area served,Products
0,1,Audemars Piguet,Private,Luxury watchmaking,1875; 147 years ago,Jules Louis Audemars & Edward Auguste Piguet,"Le Brassus, Switzerland",Worldwide,"Mechanical watches, clocks, turbans"
1,1,Cartier,Subsidiary,"Jewellery manufacturing, Luxury watchmaking",1847; 175 years ago,Louis-François Cartier,"Paris, France",Worldwide,"Jewellery, watches"

In [37]:
df2 = pd.read_csv("/project/social_information.csv")

In [38]:
desc = df2["company_description"]

In [39]:
df = df.join(desc)

In [40]:
df.drop(columns = ["Unnamed: 0"], inplace=True)

In [41]:
df. columns = ['brand', 'company_type', 'industry', 'founded', 'founder', 'headquarters', 'area_served',
              'products', 'company_description']

In [42]:
df

,brand,company_type,industry,founded,founder,headquarters,area_served,products,company_description
0,Audemars Piguet,Private,Luxury watchmaking,1875; 147 years ago,Jules Louis Audemars & Edward Auguste Piguet,"Le Brassus, Switzerland",Worldwide,"Mechanical watches, clocks, turbans","In 1875 Jules Louis Audemars, decided to join ..."
1,Cartier,Subsidiary,"Jewellery manufacturing, Luxury watchmaking",1847; 175 years ago,Louis-François Cartier,"Paris, France",Worldwide,"Jewellery, watches","Founded in 1847 in Paris, Cartier stands as on..."

In [43]:
df3 = pd.read_csv('/project/financial_information.csv')

In [44]:
df3 = df3.reindex([1,0])

In [45]:
df3.reset_index(inplace=True)

In [46]:
df3

,index,Unnamed: 0,holding_company,employees,revenue,net_income_growth,enviornmental_social_governance_ranking,managing_director,board_chairman,director,subsidiaries
0,1,1,Audemars Piguet Holding S.A.,900,$160.12 million,NaN,1.0,François-Henri Bennahmias,Jasmine Audemars,Nicolas Burgener,19 Subsidiaries
1,0,0,Compagnie Financiere Richemont Sa,"34,760",$15.96 billion,39.44%,3.0,Jérôme Lambert,Johann Rupert,Cédric Bossert,145 Subsidiaries

In [47]:
hc = df3['holding_company']

In [48]:
df = df.join(hc)

In [49]:
df

,brand,company_type,industry,founded,founder,headquarters,area_served,products,company_description,holding_company
0,Audemars Piguet,Private,Luxury watchmaking,1875; 147 years ago,Jules Louis Audemars & Edward Auguste Piguet,"Le Brassus, Switzerland",Worldwide,"Mechanical watches, clocks, turbans","In 1875 Jules Louis Audemars, decided to join ...",Audemars Piguet Holding S.A.
1,Cartier,Subsidiary,"Jewellery manufacturing, Luxury watchmaking",1847; 175 years ago,Louis-François Cartier,"Paris, France",Worldwide,"Jewellery, watches","Founded in 1847 in Paris, Cartier stands as on...",Compagnie Financiere Richemont Sa

In [50]:
df.to_parquet('more_information.parquet')