In [1]:
#!pip install config
#!pip install beautifulsoup4

import pandas as pd
import numpy as np
import requests
import bs4
import urllib3
import config
import time
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as uReq

# Remove request warnings
urllib3.disable_warnings()

agent = {"User-Agent":"Mozilla/5.0"}

In [2]:
APlink = "https://en.wikipedia.org/wiki/Audemars_Piguet"
APaccess = requests.get(APlink, verify=False, headers=agent)
time.sleep(1)
APpage_soup = soup(APaccess.text, 'html.parser')   
# find the table of information for each watch
time.sleep(1)
APtable = APpage_soup.find_all('table')
APdf = pd.read_html(str(APtable))[0]
# transpose the table
APdf = APdf.T
# only get the second row

APdf

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,Type,Industry,Founded,Founders,Headquarters,Area served,Key people,Products,Production output,Revenue,Number of employees,Subsidiaries,Website
1,NaN,Private,Luxury watchmaking,1875; 147 years ago,Jules Louis AudemarsEdward Auguste Piguet,"Le Brassus, Switzerland",Worldwide,Jasmine Audemars-Dhaliwal (Chair) Olivier Aude...,"Mechanical watches, clocks, turbans","40,000 (2018)",1.1 billion CHF (2018),1450[1],Renaud & Papi SACentror SA,www.audemarspiguet.com

In [17]:
Clink = "https://en.wikipedia.org/wiki/Cartier_(jeweler)"
Caccess = requests.get(Clink, verify=False, headers=agent)
time.sleep(1)
Cpage_soup = soup(Caccess.text, 'html.parser')   
# find the table of information for each watch
time.sleep(1)
Ctable = Cpage_soup.find_all('table')
Cdf = pd.read_html(str(Ctable))[0]
# transpose the table
Cdf = Cdf.T
# only get the second row

Cdf

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Type,Industry,Founded,Founder,Headquarters,Area served,Key people,Products,Revenue,Parent,Website
1,NaN,Subsidiary,"Jewellery manufacturing,watchmaking",1847; 175 years ago,Louis-François Cartier,"Paris, France",Worldwide,Cyrille Vigneron (CEO),"Jewellery, watches",$6.1 billion (2016)[1],Richemont,cartier.com

In [18]:
new_header = [['Brand','Type', 'Industry', 'Founded', 'Founder', 'Headquarters', 
              ' Area served', 'Key people', 'Products', 'Revenue', 'Parent', 'Website' ]] 
Cdf = Cdf[1:] #take the data less the header row
Cdf.columns = new_header

In [19]:
Cdf

,Brand,Type,Industry,Founded,Founder,Headquarters,Area served,Key people,Products,Revenue,Parent,Website
1,NaN,Subsidiary,"Jewellery manufacturing,watchmaking",1847; 175 years ago,Louis-François Cartier,"Paris, France",Worldwide,Cyrille Vigneron (CEO),"Jewellery, watches",$6.1 billion (2016)[1],Richemont,cartier.com

In [20]:
Cdf.drop(['Key people', 'Revenue', 'Parent', 'Website'], axis=1, inplace=True)

/Users/cirillogirardi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)
/Users/cirillogirardi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [21]:
Cdf

,Brand,Type,Industry,Founded,Founder,Headquarters,Area served,Products
1,NaN,Subsidiary,"Jewellery manufacturing,watchmaking",1847; 175 years ago,Louis-François Cartier,"Paris, France",Worldwide,"Jewellery, watches"

In [25]:
Cdf['Brand'] = Cdf['Brand'].replace(np.nan, 'Cartier')

/var/folders/t8/_1lw_ywx6bzftgb05dh9ty280000gn/T/ipykernel_26281/3538608980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Cdf['Brand'] = Cdf['Brand'].replace(np.nan, 'Cartier')

In [26]:
Cdf

,Brand,Type,Industry,Founded,Founder,Headquarters,Area served,Products
1,Cartier,Subsidiary,"Jewellery manufacturing,watchmaking",1847; 175 years ago,Louis-François Cartier,"Paris, France",Worldwide,"Jewellery, watches"

In [28]:
new_header = [['Brand','Type', 'Industry', 'Founded', 'Founder', 'Headquarters', 
              ' Area served', 'Key people', 'Products', 'Production output', 'Revenue', 'Number of employees', 
               'Subsidiaries', 'Website' ]]

APdf = APdf[1:] #take the data less the header row
APdf.columns = new_header   
APdf

,Brand,Type,Industry,Founded,Founder,Headquarters,Area served,Key people,Products,Production output,Revenue,Number of employees,Subsidiaries,Website
1,NaN,Private,Luxury watchmaking,1875; 147 years ago,Jules Louis AudemarsEdward Auguste Piguet,"Le Brassus, Switzerland",Worldwide,Jasmine Audemars-Dhaliwal (Chair) Olivier Aude...,"Mechanical watches, clocks, turbans","40,000 (2018)",1.1 billion CHF (2018),1450[1],Renaud & Papi SACentror SA,www.audemarspiguet.com

In [29]:
APdf['Brand'] = APdf['Brand'].replace(np.nan, 'Audemars Piguet')

/var/folders/t8/_1lw_ywx6bzftgb05dh9ty280000gn/T/ipykernel_26281/161173199.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  APdf['Brand'] = APdf['Brand'].replace(np.nan, 'Audemars Piguet')

In [31]:
APdf.drop(['Key people', 'Production output', 'Revenue', 'Number of employees', 'Subsidiaries', 'Website'], axis=1, inplace=True)

/Users/cirillogirardi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)
/Users/cirillogirardi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [35]:
APdf['Founder'] = APdf['Founder'].replace('Jules Louis AudemarsEdward Auguste Piguet', 'Jules Louis Audemars & Edward Auguste Piguet')

/var/folders/t8/_1lw_ywx6bzftgb05dh9ty280000gn/T/ipykernel_26281/3728094666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  APdf['Founder'] = APdf['Founder'].replace('Jules Louis AudemarsEdward Auguste Piguet', 'Jules Louis Audemars & Edward Auguste Piguet')

In [57]:
Cdf['Industry'] = Cdf['Industry'].replace('Jewellery manufacturing,watchmaking', 'Jewellery manufacturing, Luxury watchmaking')

/var/folders/t8/_1lw_ywx6bzftgb05dh9ty280000gn/T/ipykernel_26281/2227706561.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Cdf['Industry'] = Cdf['Industry'].replace('Jewellery manufacturing,watchmaking', 'Jewellery manufacturing, Luxury watchmaking')

In [58]:
Cdf

,Brand,Type,Industry,Founded,Founder,Headquarters,Area served,Products
1,Cartier,Subsidiary,"Jewellery manufacturing, Luxury watchmaking",1847; 175 years ago,Louis-François Cartier,"Paris, France",Worldwide,"Jewellery, watches"

In [59]:
information = APdf.append(Cdf)

In [61]:
information.to_csv('information.csv')

In [62]:
information.to_parquet('information.parquet')